absl-py==2.1.0
h5py==3.11.0
imageio==2.34.1
keras==3.3.3
lazy_loader==0.4
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
networkx==3.2.1
numpy==1.26.4
opencv-python==4.10.0.82
optree==0.11.0
packaging==24.1
pillow==10.3.0
Pygments==2.18.0
rich==13.7.1
scikit-image==0.22.0
scipy==1.13.1
tifffile==2024.5.22
typing_extensions==4.12.2
